composer.phar
composer.lock
vendor/*
conf/*
app/cache/*
app/tmp/*
app/log/*
content/_conf/*
content/_page/*
content/_post/*
content/theme/*
public/*
.DS_Store

# Commit your application's lock file http://getcomposer.org/doc/01-basic-usage.md#composer-lock-the-lock-file
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
# composer.lock
